.imgbox
  margin-bottom 5px
  margin-left 5px
  border 1px solid gray

#go-pg-top
    background #D3D3D3
    text-align center
    border 1px solid #eee
    display none
    height 20px
    width 24px
    padding-top 4px
    overflow hidden
    border-radius 6px
    position fixed
    bottom 80px
    right 11.52991452991453%
    padding 20px
    font-size 20px
    cursor pointer
