.HIDE
    display none

.imgbox
  margin-bottom 5px
  margin-left 5px
  border 1px solid gray

#go-pg-top
    background #D3D3D3
    text-align center
    border 1px solid #eee
    display none
    height 20px
    width 24px
    padding-top 4px
    overflow hidden
    border-radius 6px
    position fixed
    bottom 80px
    right 11.52991452991453%
    padding 20px
    font-size 20px
    cursor pointer

.copyright
    display block
    padding 10px 20px
    margin 35px 0 25px
    line-height 24px
    font-size 13px
    background-color #FFFCEF
    .claim
        font-size 15px
        font-weight 600
        clearfix()

.copyright, .post-nav
    em
        font-style normal
        color gray
    a
        &:hover
            color #C40000
            text-decoration none

.post-nav
    em
        color #258FB8
        font-weight 700
        font-size 15px
    a
        color #258FB8

.ps
    color #BBB

.page-direction
    list-style none
    .page-prev
        left 5px
        font-size 30px
    .page-next
        right 5px
        font-size 30px
    .page-prev-hover
        font-size 35px
    .page-next-hover
        font-size 35px
    a
        font-size 45px
        color #B9B9B9
        position fixed
        top 47%
        &:hover
            color #C40000
            opacity 0.7
            text-decoration none

.page-list
    text-align center
    .page-number
    .extend
        margin 0 7px 0 0
        padding 5px 10px
        background-color #FFF
    .current
        color #333
        font-weight 700


