.imgbox
  margin-bottom 5px
  margin-left 5px
  border 1px solid gray

#go-pg-top
    background #D3D3D3
    text-align center
    border 1px solid #eee
    display none
    height 20px
    width 24px
    padding-top 4px
    overflow hidden
    border-radius 6px
    position fixed
    bottom 80px
    right 11.52991452991453%
    padding 20px
    font-size 20px
    cursor pointer

.copyright
    display block
    padding 10px 20px
    margin 35px 0 25px
    line-height 24px
    font-size 13px
    background-color #FFFCEF
    .claim
        font-size 15px
        font-weight 600
        clearfix()

.copyright, .post-nav
    em 
        font-style normal
        color gray
    a
        &:hover
            color #C40000
            text-decoration none

.post-nav
    em
        color #258FB8
        font-weight 700
        font-size 15px
    a
        color #258FB8

.ps
    color #BBB


