#sidebar
  width 270px
  line-height 1.8em
  @media screen and (max-width: 900px)
    float none
    width 100%
  .widget
    background #fff
    margin-bottom 30px
    word-wrap break-word
    .title
      padding 15px 20px
      font-size 1em
      border-bottom 1px solid color-border
      font-weight normal

    .entry
      font-size 0.9em
      padding 15px 20px

      li
        text-overflow ellipsis
        white-space nowrap
        overflow hidden

        a
          &:hover
            text-decoration none
            color #C40000

    ul, ol, dl
      list-style none
      ul, ol, dl
        list-style disc
        margin-left 20px

  .search
    margin-bottom 30px
    position relative
    input
      background #fff
      font-family font-title
      font-style normal
      font-size 15px
      padding 5px 27px 5px 12px
      border 1px solid color-border
      width 100%
      outline none
      box-sizing border-box
      color color-meta
      line-height 22px
      &:focus
        color color-font
        border 1px solid #77B9FF

  .icon-search
    position absolute
    right 7px
    top 6px
    font-size 22px
    color #D6D6D6
    cursor pointer

  .search-hover
    color #C40000

  .tag
    small
      margin-left 15px
      color color-meta
      &:before
        content '('
      &:after
        content ')'

  .twitter
    li
      border-bottom 1px solid color-border
      padding 15px 20px
      font-size 0.9em
      &:last-of-type
        border-bottom none
    small
      display block
      margin-top 10px
      color color-meta
      line-height 1

  .tagcloud
    .entry
      padding-right 5px
    a
      margin-right 10px
      display inline-block